.home_page {
  --gap: 0.375rem;
  width: 44.9375rem;
  margin: 0 auto;
  padding-top: 1.125rem;
  gap: var(--gap);
  .stock_name {
    background-color: #fafafa;
  }
  .stock_chart {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding-bottom: 3.125rem;
    .tag_group {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .stock_table {
    padding: 0;
    .table_title_div {
      width: 100%;
      padding: 0.9375rem 1.125rem;
    }
  }
  .data_from_div {
    flex-direction: row;
    justify-content: flex-end;
    white-space: pre-line;
    margin-top: calc(0.75rem - var(--gap));
    .MuiTypography-root {
      text-align: right;
      color: #434343;
    }
  }
}
