.status_tag_div {
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 0.8125rem;
  background-color: var(--primary_color);
  border-radius: 3px;
  * {
    color: #fff;
  }
}
